body {
    background-color: #cccccc;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
}

input {
    display: block;
    margin-bottom: 10px;
}

.grades {
    float: left;
    width: 50%;
}

.credits {
    float: right;
    width: 50%;
}

.credits input {
    display: inline-block;
}